# Connect to Supabase via connection pooling
DATABASE_URL="your-supabase-url-goes-here:6543/postgres?pgbouncer=true"
PORT=port-goes-here
# Direct connection to the database. Used for migrations
DIRECT_URL="direct-database-url-here:5432/postgres"

SUPABASE_URL=supabase-url-goes-here
SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
GEOAPIFY_KEY=your-geoapify-key-goes-here
# comma separated list of what URLs the webserver is accessible from
WEBSERVER_URLS=web-server-url-goes-here
# set to production or development depending on whether you've deployed or running locally
NODE_ENV=production
